- var toolnav = {'https://www.typescriptlang.org/': 'TypeScript', 'https://sass-lang.com/': 'SASS', 'https://pugjs.org/': 'Pug', 'https://threejs.org/': 'three.js','https://github.com/ashthornton/asscroll': 'ASScroll', 'https://greensock.com/scrolltrigger/': 'GSAP ScrollTrigger', 'https://typedoc.org/': 'TypeDoc', 'https://parceljs.org/': 'Parcel', 'https://yarnpkg.com/': 'Yarn', 'https://nodejs.org/': 'Node.js', 'https://neovim.io/': 'NeoVim', 'https://www.blender.org/': 'Blender', 'https://www.gimp.org/': 'Gimp', 'https://git-scm.com/': 'Git', 'https://www.kernel.org/': 'Linux'}
