include blocks/_var.pug
include blocks/_nav.pug
footer
  .content
    p The source code is available on #[a(href="https://codeberg.org/KubikPixel/sd3d-mk02", title="Codeberg") Codeberg] and is build with:
    +sitelist(toolnav)
    p &copy; &amp; &#9998;, &lt;/&gt; with &hearts; 2022 by #[a(href="https://chaos.social/@kubikpixel" rel="author") KubikPixel™]
