head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title WebGL Scroll Demo by KubikPixel
  meta(name="keywords", content="webgl, 3d, web, 3d web, website, 3d website, demo, webgl demo, KubikPixel, webdev, javascript, development, threejs")
  meta(name="description", content="WebGL Scroll Demo by Kubikpixel")
  meta(name="copyright", content="All content, unless otherwise noted, belongs to KubikPixel. Copyhright 2022 by KubikPixel, all rights reserved.")
  meta(name="robots", content="index, follow")
  link(rel="stylesheet", href="./assets/sass/style.sass")
  // adjust URLs, images and description
  meta(name="HandheldFriendly", content="true")
  meta(name="apple-mobile-web-app-capable", content="yes")
  link(rel="canonical", href="https://thunix.net/~kubikpixel/webgl-scroll-deme/imdex.html")
  link(rel="alternate”, hreflang=”en-US", href="https://thunix.net/~kubikpixel/webgl-scroll-deme/imdex.html")
  link(rel="icon", href="favicon.ico", type="image/x-icon")
  link(rel="me", href="https://codeberg.org/KubikPixel")
  meta(property="og:title", content="WebGL Scroll Demo by KubikPixel")
  meta(property="og:site_name", content="WebGL Scroll Demo by KubikPixel")
  meta(property="og:url", content="https://thunix.net/~kubikpixel/webgl-scroll-deme/imdex.html")
  meta(property="og:locale:alternate", content="en_US")
  meta(property="og:description", content="WebGL Scroll Demo by KubikPixel")
  meta(property="og:type", content="website")
  meta(property="og:type:website", content="https://thunix.net/~kubikpixel/webgl-scroll-deme/imdex.html")
  meta(property="og:image", content="https://thunix.net/~kubikpixel/assets/img/ogava.jpeg")
  meta(property="og:image:type", content="image/jpeg")
  meta(property="og:image:width", content="1200")
  meta(property="og:image:height", content="627")
  meta(property="og:image:alt", content="Full moon in space over a wireframe landscape")
