section#splash
  #title
    .content
      h1 SD.3D-MK02
      h2 WebGL Scroll Demo
      p A simple scrolling demo for browser compatibility tests for my build tool and WebGL.
      p This is my personal little playground to figure out how ThreeJS with TypeScript works fine together.
      .scroll-indicator(title="scroll down")
        a#scroll(href='#scroll')
          .ind-scroll
            .dwn-arrow
            .dwn-arrow
        p scroll down
  #loading
    label(for="loadingprogress") Loading...
    br
    progress#loadingprogress(value="0", max="100") 0%
.toup-indicator(title="to top")
  a(href='#')
    .ind-scroll
      .up-arrow
      .up-arrow
  p to top
