doctype html
html(lang="en")
  include incl/_head.pug
  body
    noscript Your browser does not support JavaScript, please change your Browser or turn JavaScript and WebGL in this Browser on.
    canvas#draw
    #msg
    #scroll-content(asscroll-container)
      main
        include incl/_splash.pug
      include incl/_foot.pug
    script(type="module", src="./main.ts")
