@import './_var-general.sass'

@mixin centred
  display: flex
  flex-direction: column
  align-items: center

@keyframes arrow-down
  0%
    border-color: transparent
    top: 1%
  50%
    border-color: $text-color
  100%
    border-color: transparent
    top: 60%

@keyframes arrow-up
  0%
    border-color: transparent
    top: 80%
  50%
    border-color: $text-color
  100%
    border-color: transparent
    top: 3%


.scroll-indicator
  @include centred
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 20px

  p
    margin: 10px

  .ind-scroll
    @include centred
    position: relative
    border: 2px solid $text-color
    border-radius: 15px
    width: 30px
    height: 50px
    background-color: $shadow-color

    .dwn-arrow
      border: 2px solid $text-color
      border-radius: 0
      width: 16px
      height: 16px
      border-style: none solid solid none
      position: absolute
      top: 1%
      transform: rotate(45deg)
      animation-name: arrow-down
      animation-duration: 1.2s
      animation-iteration-count: infinite

      &:nth-child(even)
        animation-delay: 0.33s

.toup-indicator
  @include centred
  position: relative
  left: 50%
  transform: translateX(-50%)

  p
    margin: 10px

  .ind-scroll
    @include centred
    position: relative
    border: 2px solid $text-color
    border-radius: 50%
    width: 50px
    height: 50px
    background-color: $shadow-color

    .up-arrow
      border: 2px solid $text-color
      border-radius: 0
      width: 16px
      height: 16px
      border-style: solid none none solid
      position: absolute
      top: 80%
      transform: rotate(45deg)
      animation-name: arrow-up
      animation-duration: 1.2s
      animation-iteration-count: infinite

      &:nth-child(even)
        animation-delay: 0.33s
