@import './_var-general.sass'

body
  overflow: hidden

#title
  filter: blur(8px)

#loading
  position: absolute
  left: 0
  bottom: 0
  width: 100vw
  height:35vh
  filter: none
  text-align: center
  background-color: $shadow-color
  padding: $content-padding
  progress
    width: 80vw
    color: $text-color
    background-color: $link-color
    border-radius: 5px
