@font-face
  font-family: 'Audiowide'
  src: url('../fonts/Audiowide-Regular.ttf')
@font-face
  font-family: 'PT Sanse'
  src: url('../fonts/PTSans-Regular.ttf')

$font-content: 'PT Sanse', Arial, Helvetica, sans-serif
$font-title: Audiowide, Arial, Helvetica, sans-serif
$full-banner-margin: 6rem
$content-padding: 2rem
$shadow-color: rgba(0, 0, 0, 0.75)
$text-color: #FFF
$link-color: #ccf

// start reset css
:root
  font-size: 12pt
*, *::before, *::after
  box-sizing: border-box
*
  outline: 0
  border: 0
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent
html, body
  height: 100%
body
  font-family: $font-content
  line-height: 1.5
h1, h2, h3, h4, h5, h6
  font-family: $font-title
  overflow-wrap: break-word
p
  overflow-wrap: break-word
// end reset css
