@charset 'UTF-8'
@import './_var-general.sass'
@import './_ind-scroll.sass'
@import './_loading.sass'

@mixin content-container
  padding: $content-padding
  background-image: linear-gradient($shadow-color, transparent)

@mixin media-mobile($min)
  @media (max-width: $min)
    @content

html
  scroll-behavior: smooth

body
  color: $text-color
  #draw
    z-index: -1
    position: fixed
    top: 0
    right: 0
    width: 100vw !important
    height: 100vh !important

section
  min-height: 3000vh

footer
  @include content-container
  ul > li
    display: inline-block
    list-style: none
    &:not(:last-child)::after
      content: '\B7'

h1, h2, h3, h4 , h5, h6
  text-align: center
  font-family: Audiowide
  text-shadow: 4px 4px $shadow-color
a
  color: $link-color
  text-decoration: none

#splash
  .content
    @include content-container
    font-size: 1.2em
    height: 100vh
    h1
      font-size: 3em
      font-weight: 400
    h2
      font-size: 2em
      font-weight: 200
    p
      max-width: 768px
      margin: 0.75em auto

@include media-mobile(768px)
  #splash
    .content
      h1
        line-height: 1
